<main>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Currency 1</mat-label>
      <mat-select [value]="selectedCurrency1" #Currency1input>
        <mat-option *ngFor="let data of currencyNames" value="{{ data }}">{{
          data
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <input
      type="number"
      value="{{ Currency1inputNum }}"
      (keyup)="
        onCurrency1Change($event.target, Currency1input, Currency2input, true)
      "
    />
    <div class="new-inputs" *ngFor="let item of inputs">
      <mat-form-field appearance="fill">
        <mat-label>Currency 1</mat-label>
        <mat-select [value]="selectedCurrency1" #Currency1input>
          <mat-option *ngFor="let data of currencyNames" value="{{ data }}">{{
            data
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <input
        type="number"
        value="{{ Currency1inputNum }}"
        (keyup)="
          onCurrency1Change($event.target, Currency1input, Currency2input, true)
        "
      />
    </div>
    <button mat-raised-button color="primary" (click)="onAddCurrency()">
      Add Currency
    </button>
    <button mat-raised-button color="warn" (click)="onClearAll()">
      Clear All
    </button>
  </section>
  <section>
    <button
      mat-mini-fab
      color="primary"
      (click)="onExchangeAlt()"
      [disabled]="inputs.length != 0"
    >
      <fa-icon [icon]="faExchangeAlt"></fa-icon>
    </button>
  </section>
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Currency 1</mat-label>
      <mat-select [value]="selectedCurrency2" #Currency2input>
        <mat-option *ngFor="let data of currencyNames" value="{{ data }}">{{
          data
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <input
      type="number"
      value="{{ Currency2inputNum }}"
      (keyup)="
        onCurrency1Change($event.target, Currency2input, Currency1input, false)
      "
    />
  </section>
</main>
